.todo-item {
  background-color: white;
  margin-bottom: 15px;
}

.todo-item * {
  pointer-events: none;
}

.drag-item {
  margin-bottom: 15px;
  border: 2px dashed #0099fd;
}

.drag-item * {
  opacity: 0;
  pointer-events: none;
}
